
<div >

    <!-- <svg-icon src="../../../../assets/images/cv.png" ></svg-icon> -->
   <!-- <svg-icon src="https://img.pngio.com/line-angle-point-yellow-pattern-star-png-image-star-png-900_660.jpgg" [svgStyle]="{ 'width.px':90 }"></svg-icon> -->
   <!-- <svg-icon src="../../../../assets/images/cv.png" [svgStyle]="{ 'width.px':90 }"></svg-icon> -->

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>



<div class = "layout">
  <!-- <a [routerLink]="['/student/profile', 'd4dbfa66-952d-4143-ac47-243796739c7b']">
    Test Student Profile 
  </a> -->
  


  <router-outlet></router-outlet>


</div>


</div>